@import "../style.css";

  .status-bar__clock{
    color: #e8faea;
  }
  .status-bar__weatherinfo{
    color:#b9cb68; 
  }

  .weather__text{
        color:#dfdccd;
    }

    .user-bar span,input,#greeting-span{
        background-color:rgb(455,455,455,0.5);
        color: #38443a
    }


  .header-bar__title{
  
    color:#ddddc9;
    text-shadow: 2px 2px 2px rgb(116, 112, 112,0.3);
   
  }

  .header-bar__subtitle{
    color:#829246;
  }
